<div class="contenedor-form">
  <div class="card-form">

    <h2 class="titulo-form">Pedidos</h2>

    <form [formGroup]="form" (ngSubmit)="guardar()" class="formulario">

      <div style="margin-top:20px;">
        <label>Cliente (buscar por DNI o nombre)</label>
        <input type="text"
              [value]="clienteBusqueda"
              (input)="onClienteSearch($event.target.value)"
              placeholder="Escribí DNI o nombre..." />
      </div>

      @if (clientesFiltrados.length > 0) {
        <ul class="sugerencias">
          @for (c of clientesFiltrados; track $index) {
            <li (click)="seleccionarCliente(c)">
              {{ c.nombre }} {{ c.apellido }} — DNI {{ c.dni }}
            </li>
          }
        </ul>
      }

      @if (clienteSeleccionado) {
        <div class="seleccionado">
          <strong>Cliente seleccionado:</strong>
          {{ clienteSeleccionado.nombre }} {{ clienteSeleccionado.apellido }}
        </div>
      }

      <input type="hidden" formControlName="cliente" />
       @if(form.controls.cliente.hasError('required') && (form.dirty || form.touched)) {
        <span>El cliente es requerido</span>
      }

      <label>Empleado</label>
      <select formControlName="empleado">
        <option [value]="">Seleccione un empleado</option>
        @for (e of empleados; track $index) {
          <option [value]="e.dni">
            {{ e.nombre }} — {{ e.rolesEmpleado }} (DNI: {{ e.dni }})
          </option>
        }
      </select>
      @if(form.controls.empleado.hasError('required') && (form.dirty || form.touched)) {
        <span>El empleado es requerido</span>
      }

      <label>Material</label>
      <select formControlName="material">
        <option [value]="null">Seleccione un material</option>
        @for (mat of materiales; track $index) {
          <option [value]="mat.id">
            {{ mat.nombreMaterial }} — ${{ mat.valorMetroCuadrado }}
          </option>
        }
      </select>
      @if(form.controls.material.hasError('required') && (form.dirty || form.touched)) {
        <span>El material es requerido</span>
      }

      <label>Piletas:</label>
      <select formControlName="pileta">
        <option [value]="null">Seleccione una pileta</option>
        @for (p of piletas; track $index) {
          <option [value]="p.id">
            {{ p.marca }} — {{ p.modelo }} (Stock: {{ p.cantidad }})
          </option>
        }
      </select>
       @if(form.controls.pileta.hasError('required') && (form.dirty || form.touched)) {
        <span>La pileta es requerida</span>
      }

      <label>Grifería</label>
      <input type="text" formControlName="griferia" />
      @if(form.controls.griferia.hasError('required') && (form.dirty || form.touched)) {
        <span>La grifería es requerida</span>
      }

      <label>Moldura</label>
      <input type="text" formControlName="moldura" />
      @if(form.controls.moldura.hasError('required') && (form.dirty || form.touched)) {
        <span>La grifería es requerida</span>
      }

      <label>Seña</label>
      <input type="number" formControlName="senia" />
       @if(form.controls.senia.hasError('required') && (form.dirty || form.touched)) {
        <span>La seña es requerida</span>
      }
      @if(form.controls.senia.hasError('min') && (form.dirty || form.touched)) {
        <span>La seña no puede ser negativa</span>
      }

      <label>Fecha de entrega</label>
      <input type="date" formControlName="fechaEntrega" />
      @if(form.controls.fechaEntrega.hasError('required') && (form.dirty || form.touched)) {
        <span>La fecha de entrega es requerida</span>
      }

      <label>Fecha de emisión</label>
      <input type="date" formControlName="fechaEmision" />
      @if(form.controls.fechaEmision.hasError('required') && (form.dirty || form.touched)) {
        <span>La fecha de emisión es requerida</span>
      }

      <label>Metros cuadrados</label>
      <input type="number" formControlName="metrosCuadrados" />
      @if(form.controls.metrosCuadrados.hasError('required') && (form.dirty || form.touched)) {
        <span>Los metros cuadrados son requeridos</span>
      }
      @if(form.controls.metrosCuadrados.hasError('min') && (form.dirty || form.touched)) {
        <span>Los metros cuadrados no pueden ser negativos</span>
      }

@if (direccionesCliente().length > 0) {

  <label>Direcciones del cliente</label>
  <select id="selectDirecciones" (change)="onDireccionSeleccionada($event)">
    <option [value]="''">Seleccione una dirección</option>

    @for (d of direccionesCliente(); track $index) {
      <option [value]="$index">
        {{ d.calle }} {{ d.numero }} — {{ d.localidad }}
      </option>
    }
  </select>

}

<div [formGroup]="direccion">
  <h4>Dirección</h4>

  <label>Calle</label>
  <input formControlName="calle" type="text" />
  @if(direccion.controls['calle'].hasError('required') && (form.dirty || form.touched)){
          <span>La calle es requerida</span>
        }

  <label>Número</label>
  <input formControlName="numero" type="text" />
  @if(direccion.controls['numero'].hasError('required') && (form.dirty || form.touched)){
          <span>El número es requerido</span>
        }

  <label>Localidad</label>
  <input formControlName="localidad" type="text" />
   @if(direccion.controls['localidad'].hasError('required') && (form.dirty || form.touched)){
          <span>La localidad es requerida</span>
        }
</div>


      <!-- ==================== VALORES ==================== -->
     
      <label>Descuento (%)</label>
      <input type="number" formControlName="descuento" />

      <!-- ==================== OBSERVACIONES ==================== -->
      <label>Observaciones</label>
      <textarea formControlName="observaciones"></textarea>

      <!-- ==================== BOTÓN ==================== -->
      <button type="submit">
        {{ isEditing() ? 'Modificar Pedido' : 'Guardar Pedido' }}
      </button>

    </form>
  </div>
</div>
