<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Marmolería Roma</a>

    <!-- Botón hamburguesa (versión móvil) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Menús de la izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Menú Tabla -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="material-symbols-outlined align-middle">table</span>
            Tabla
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="TablaPiletas">Piletas</a></li>
            <li><a class="dropdown-item" routerLink="TablaMateriales">Materiales</a></li>
            <li><a class="dropdown-item" routerLink="TablaClientes">Clientes</a></li>
            <li><a class="dropdown-item" routerLink="TablaPedidos">Pedidos</a></li>
            <li><a class="dropdown-item" routerLink="TablaPedidosEntregados">Pedidos Entregados</a></li>
          </ul>
        </li>

        <!-- Menú Agregar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="material-symbols-outlined align-middle">add</span>
            Agregar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="FormularioPiletas">Piletas</a></li>
            <li><a class="dropdown-item" routerLink="FormularioPedidos">Pedidos</a></li>
            <li><a class="dropdown-item" routerLink="FormularioMateriales">Materiales</a></li>
            <li><a class="dropdown-item" routerLink="FormularioEmpleados">Empleados</a></li>
            <li><a class="dropdown-item" routerLink="FormularioClientes">Clientes</a></li>
            
          </ul>
        </li>

        @if (auth.esAdmin()) {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <span class="material-symbols-outlined align-middle">admin_panel_settings</span>
              Usuarios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="TablaPedidosAdmin">Pendientes Entrega</a></li>
              <li><a class="dropdown-item" routerLink="TablaUsuarios">Ver usuarios</a></li>
              <li><a class="dropdown-item" routerLink="FormularioUsuarios">Agregar usuario</a></li>
              <li class="nav-item">
              <a class="nav-link" routerLink="dashboard">
              <span class="material-symbols-outlined align-middle">bar_chart</span>
              Estadísticas
              </a>
              </li>
            </ul>
          </li>
        }
      </ul>

      <div class="nav-item dropdown me-3">
  <button class="btn btn-outline-light position-relative" (click)="toggleDropdown()">
    <span class="material-symbols-outlined">notifications</span>
    @if (auth.esAdmin()) {
      @if (notificaciones.length+notificacionesAdmin.length > 0) {
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
          {{ notificaciones.length + notificacionesAdmin.length }}
        </span>
      }
    }
    @else {
      @if (notificaciones.length > 0) {
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
          {{ notificaciones.length }}
        </span>
      }
    }
  
  </button>

  <ul class="dropdown-menu dropdown-menu-end notificaciones-menu dropdown-notificaciones" [class.show]="mostrarDropdown">
    @if (notificaciones.length === 0 && notificacionesAdmin.length ===0) {
      <li class="dropdown-item text-muted">
        Sin notificaciones
      </li>
    }
    @else {
      @if (auth.esAdmin()) {
        @if (notificacionesAdmin.length > 0) {
          @for (n of notificacionesAdmin; track $index) {
            <li class="dropdown-item">
              {{ n.mensaje }}
            </li>
            }
        }
      }
      @if (notificaciones.length > 0) {
          @for (n of notificaciones; track $index) {
            <li class="dropdown-item">
              {{ n.mensaje }}
            </li>
          }
      }
    }
  </ul>
</div>
      
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-light d-flex align-items-center gap-1" (click)="logout()">
          <span class="material-symbols-outlined">account_circle</span>
          Salir
        </button>
      </div>
    </div>
  </div>
</nav>
